<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card  my-3">
        <div class="card-body">
          <h2 class="card-title font-weight-bold text-center">Edit <%= resource_name.to_s.humanize %></h2>
          <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
            <%#= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group">
<!--              <%#= f.label :email %><br/>-->
              <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
<!--              <%#if resource.errors.present? %><p class="text-danger"><%#=resource.errors[:email][0] %></p><%#end%>-->
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
<!--              <%#= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>-->
              <%= f.password_field :password, class: 'form-control', autocomplete: "new-password",help:" Must contain a digit,a lower case character,an
                  upper case character,a symbol" %>
<!--              <%#if resource.errors.present? %><p class="text-danger"><%#=resource.errors[:password][0] %></p><%#end%>-->
            </div>

            <div class="form-group">
<!--              <%#= f.label :password_confirmation %><br/>-->
              <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
<!--              <%#if resource.errors.present? %><p class="text-danger"><%#=resource.errors[:password_confirmation][0] %></p><%#end%>-->
            </div>

            <div class="form-group ">
<!--              <%#= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>-->
              <%= f.password_field :current_password, class: 'form-control', autocomplete: "current-password" %>
<!--              <%#if resource.errors.present? %><p class="text-danger"><%#=resource.errors[:current_password][0] %></p><%#end%>-->
            </div>
            <%= f.submit "Update", class: "btn btn-lg btn-primary btn-block text-uppercase" %>
            <hr class="my-4">
          <% end %>
          <h3>Cancel my account</h3>

          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger btn-block text-uppercase" %></p>

          <%= link_to "Back", :back, class: "btn btn-space btn-small btn-dark" %>
        </div>
      </div>
    </div>
  </div>
</div>















<!--<h2>Edit <%#= resource_name.to_s.humanize %></h2>-->

<%#= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>

<!--  <div class="form-group">-->
<!--    <%#= f.label :email %><br/>-->
    <%#= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
<!--  </div>-->

  <%# if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<!--    <div>Currently waiting confirmation for: <%#= resource.unconfirmed_email %></div>-->
  <%# end %>

<!--  <div class="form-group">-->
<!--    <%#= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>-->
    <%#= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
    <%# if @minimum_password_length %>
<!--      <br/>-->
<!--      <em><%#= @minimum_password_length %> characters minimum</em>-->
    <%# end %>
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <%#= f.label :password_confirmation %><br/>-->
    <%#= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <%#= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>-->
    <%#= f.password_field :current_password, class: 'form-control', autocomplete: "current-password" %>
<!--  </div>-->

<!--  <div class="form-group">-->
    <%#= f.submit "Update", class: "btn btn-space btn-small btn-success" %>
<!--  </div>-->
<%# end %>

<!--<h3>Cancel my account</h3>-->

<!--<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-space btn-small btn-danger" %></p>-->

<%#= link_to "Back", :back, class: "btn btn-space btn-small btn-primary" %>
