<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card  my-3">
        <div class="card-body">
          <h2 class="card-title font-weight-bold text-center">Sign up</h2>
          <%=  bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="form-group">
<!--              <div class="control-label font-weight-bold ">-->
                <%#= f.label :email %>
<!--              </div>-->
              <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
<!--              <%#if resource.errors.present? %><p class="text-danger"><%#=resource.errors[:email][0] %></p><%#end%>-->
            </div>

            <div class="form-group">
<!--              <div class="control-label font-weight-bold">-->
                <%#= f.label :password %>
<!--              </div>-->
              <%# if @minimum_password_length %>
<!--                <em>Must contain (<%#= @minimum_password_length %> characters minimum,a digit,a lower case character,an-->
<!--                  upper case character,a symbol)</em>-->
              <%# end %>
              <%= f.password_field :password, class: 'form-control', autocomplete: "current-password",help:" Must contain a digit,a lower case character,an
                  upper case character,a symbol" %>
<!--              <%#if resource.errors.present? %><p class="text-danger"><%#=resource.errors[:password] %></p><%#end%>-->

            </div>

            <div class="form-group">
<!--              <div class="control-label font-weight-bold">-->
                <%#= f.label :password_confirmation %>
<!--              </div>-->
              <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
<!--              <%#if resource.errors.present? %><p class="text-danger"><%#=resource.errors[:password_confirmation][0] %></p><%#end%>-->
            </div>
            <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block text-uppercase" %>
            <hr class="my-3">
            <%= render "devise/shared/links" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



























<!--<div class="row">-->
<!--  <div class="col-md-12">-->
<!--    <h2>Sign up</h2>-->
<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%#= render "devise/shared/error_messages", resource: resource %>

<!--      <div class="form-group">-->
<!--        <div class="control-label col-md-6 ">-->
<%#= f.label :email %>
<!--        </div>-->
<!--        <div class="col-md-6">-->
<%#= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
<!--        </div>-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <div class="control-label col-md-6 ">-->
<%#= f.label :password %>
<%# if @minimum_password_length %>
<!--            <em>(<%#= @minimum_password_length %> characters minimum)</em>-->
<!--          <%# end %></div>-->
<!--        <div class="col-md-6">-->
<%#= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
<!--        </div>-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <div class="control-label col-md-6">-->
<%#= f.label :password_confirmation %>
<!--        </div>-->
<!--        <div class="col-md-6">-->
<%#= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
<!--        </div>-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <div class="control-label col-md-1">-->
<%#= f.submit "Sign up", class: 'btn btn-success btn-sm ' %>
<!--        </div>-->
<!--      </div>-->
<%# end %>

<%#= render "devise/shared/links" %>
<!--  </div>-->
<!--</div>-->