<div class="row">
  <div class="col-md-12">
    <%= form_for  [@topic,@post,comment], remote: true   do |form| %>
      <div class="form-group">
        <div class="control-label col-md-1 ">
          <%= form.label :name %>
        </div>
        <div class="col-md-11 ">
          <%= form.text_field :name, :value=>current_user.email ,class:'form-control error-name-field', placeholder: "Name" %>
        </div>
        <span id="commentNameBlock" class="text-danger"></span>
      </div>
      <div class="form-group">
        <div class="control-label col-md-1 ">
          <%= form.label :body %>
        </div>
        <div class="col-md-11 ">
          <%= form.text_area :body, rows:5,class:'form-control error-desc-field', placeholder: "Write your comment" %>
        </div>
        <span id="commentBodyBlock" class="text-danger"></span>
      </div>

      <div class="form-group">
        <div class="col-md-offset-1 col-md-6">
          <%= form.button "Comment", class: 'btn btn-success btn-lg',data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>Adding comments... "}  %>
        </div>
      </div>
    <% end %>
  </div>
</div>
