<div class="row">
  <div class="col-4">
    <table class="table table-striped table-dark">
      <thead >
      <tr>
        <th scope="col">User</th>
        <th scope="col">Rate</th>
      </tr>
      </thead>
      <tbody>
      <% if @rate_comment.empty? %>
        <td><strong>please rate the comment</strong></td>
      <% else %>
        <% @rate_comment.each do |l| %>
          <tr>
            <td><%= l.user.email %></td>
            <td><%= l.rate %></td>
          </tr>

        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
 <div class="offset-7 col-1">
   <%=link_to "Back", topic_post_path(@topic,@post), class: "btn-sm btn-dark"%>
 </div>
</div>


