<%if @comment.errors.any? %>
$(".error").remove();
$("#commentNameBlock").append('<div class="error"><%= escape_javascript(@comment.errors["name"][0])%></div>');
$("#commentBodyBlock").append('<div class="error"><%= escape_javascript(@comment.errors["body"][0])%></div>');
<%if @comment.errors["name"][0].nil? %>
$(".error-name-field").removeClass("is-invalid");
//$(".error-name-field").addClass("is-valid")
<%else %>
//$(".error-name-field").removeClass("is-valid");
$(".error-name-field").addClass("is-invalid")
<%end %>
<% if @comment.errors["body"][0].nil? %>
$(".error-desc-field").removeClass("is-invalid");
//$(".error-desc-field").addClass("is-valid")
<% else %>
//$(".error-desc-field").removeClass("is-valid");
$(".error-desc-field").addClass("is-invalid")
<%end %>
<%end %>