<h1>All Comments</h1>
<%= link_to 'New Comment', new_topic_post_comment_path(@topic,@post), class: "btn btn-success btn-sm new-post-btn" %>

    <% @comments.each do |comment| %>
  <div class="wel wel-lg edit-delete-btb">
    <div class="post-name">
        <%= comment.name %>
    </div>
    <%= link_to 'Show',  topic_post_comment_path(@topic,@post,comment), method: :get, class: "btn btn-primary btn-sm btn-space" %>
    <%= link_to 'Edit', edit_topic_post_comment_path(@topic,@post,comment), method: :get, class: "btn btn-secondary  btn-sm btn-space" %>
    <%= link_to 'Destroy', topic_post_comment_path(@topic,@post,comment), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm btn-space" %>
      </div>
    <% end %>










