
  <h1 class="post-detail-name"><%=@comment.name %></h1>
  <div class="post-body">
    <%=@comment.body %>
  </div>


  <%= link_to 'Edit', edit_topic_post_comment_path(@topic,@post,@comment),class: "btn btn-primary btn-sm btn-space" %>

  <%= link_to 'Delete', topic_post_comment_path(@topic,@post,@comment), method: :delete, data: {confirm: "Are you sure"},class: "btn btn-danger btn-sm btn-space"%>


