 <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Topic</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
 <%= bootstrap_form_for  @topic, remote: true do |form| %>
      <div class="modal-body">
          <!--  ======================================Form for topic=============================================================-->
          <div class="form-group ">
<!--            <div class="control-label col-md-1">-->
              <%#= form.label :name %>
<!--            </div>-->
            <div class="col-md-11 ">
              <%= form.text_field :name, class: 'form-control error-field ', placeholder: "Name" %>
              <span id="topicNameBlock" class="text-danger"></span>
            </div>

          </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
            <%= form.submit class: 'btn btn-success '%>
            <button type="button" class="btn btn-danger " data-dismiss="modal">Close</button>
        <% end %>
      </div>


