<% @topics.each do |topic| %>
  <%= link_to topic_posts_path(topic), class:"show-topic" do %>
  <div class="card-deck mb-3 ">
    <div class="card  topic_card">
      <div class="card-body">
        <h3 class="card-title font-weight-bold"><%= topic.name %></h3>
        <% if topic.user.present? %>
          <p class="card-text">
            <small class="text-muted">Created By:<%= topic.user.email %></small>
          </p>
        <% end %>

      <%if can? :update, topic %>
<!--      <div class="card-footer" id="edit-topic-block">-->
        <% if can? :update, topic %><%= link_to 'Edit', edit_topic_path(topic), method: 'get', remote: true,'data-toggle' => "modal", 'data-target' => '#myModal', data: {disable_with: "<i class='fa fa-spinner fa-pulse'></i>Edit Topic... "}, class: "btn btn-secondary btn-sm btn-space" %>
        <% end %>
        <% if can? :destroy, topic %><%= link_to 'Delete', topic, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger btn-sm btn-space" %>
        <% end %>
<!--      </div>-->
        <%end %>
      </div>
    </div>
  </div>
      <%end %>
<% end %>
