<% if @topic.errors.any? %>
$(".error").remove();
$("#topicNameBlock").append('<div class="error"><%= escape_javascript(@topic.errors['name'][0])%></div>');
<% unless @topic.errors['name'][0].nil?%>
$(".error-field").addClass("is-invalid")
<% end %>
<% else %>
$("#myModal").modal('hide');
$('#index-topic').html("<%=j render @topic %>");
alert("Topic is created successfully");
<% end %>
