<div class="row">
  <div class="col-9">
    <h1 class="font-weight-bold">Listing All Topics <span class="badge badge-secondary"><%= "#{@topics.length}" %></span></h1>
  </div>
  <div class="col-3">
    <%= link_to 'New Topic', new_topic_path, class: "btn btn-success btn-sm float-right",id:"topic-new", remote: true,'data-toggle' => "modal", 'data-target' => '#myModal', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>New Topic... "} %>
  </div>
</div>
<!--===================model to render form==========================================================================-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<!--=================================================================================================================-->
<div id="index-topic">
  <%= render 'topics/topic' %>
</div>
<%= will_paginate @topics, list_classes: %w(pagination justify-content-center), previous_label: "Previous", next_label: "Next", inner_window: 1, outer_window: 0 %>
