//$('#edit-topic-block a').hide().parent();
//$('#topic-new a').hide().parent().append("<#%= j render 'form' %>");
//$('#myModal').modal('show');
$("#myModal").find(".modal-content").html("<%= j (render 'topics/form') %>");
$("#myModal").modal('show');




