<topic class="detail-post">

  <h1 class="post-detail-name"><%=@topic.name %></h1>

  <%if can? :update, @topic%><%= link_to 'Edit', edit_topic_path(@topic),class: "btn btn-primary btn-sm btn-space" %><%end %>

  <%if can? :destroy, @topic %><%= link_to 'Delete', topic_path(@topic), method: :delete, data: {confirm: "Are you sure"},class: "btn btn-danger btn-sm btn-space"%><% end %>

  <%= link_to 'Back', topics_path,class: "btn btn-secondary btn-sm btn-space" %>





</topic>
