
Welcome to http://localhost:3000/ <%= @topic.name %>
===============================================

You have successfully signed up to <%= @user.email %>.,
your Topic is: <%= @topic.name %>.

To login to the site, just follow this link: <%= @url %>.

Thanks for joining and have a great day!