<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card  my-3">
        <div class="card-body">
          <h2 class="card-title font-weight-bold text-center">Change your password</h2>
          <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%#= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>

            <div class="form-group">
              <!--              <%#= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>-->
              <%= f.password_field :password, class: 'form-control', autocomplete: "new-password",help:" Must contain a digit,a lower case character,an
                  upper case character,a symbol" %>
              <!--              <%#if resource.errors.present? %><p class="text-danger"><%#=resource.errors[:password][0] %></p><%#end%>-->
            </div>

            <div class="form-group">
              <!--              <%#= f.label :password_confirmation %><br/>-->
              <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
              <!--              <%#if resource.errors.present? %><p class="text-danger"><%#=resource.errors[:password_confirmation][0] %></p><%#end%>-->
            </div>

            <%= f.submit "Change my password", class: "btn btn-lg btn-primary btn-block text-uppercase" %>

          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<h2>Change your password</h2>-->

<%#= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>
  <%#= f.hidden_field :reset_password_token %>

<!--  <div class="field">-->
<!--    <%#= f.label :password, "New password" %><br />-->
    <%# if @minimum_password_length %>
<!--      <em>(<%#= @minimum_password_length %> characters minimum)</em><br />-->
    <%# end %>
    <%#= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password_confirmation, "Confirm new password" %><br />-->
    <%#= f.password_field :password_confirmation, autocomplete: "off" %>
<!--  </div>-->

<!--  <div class="actions">-->
    <%#= f.submit "Change my password" %>
<!--  </div>-->
<%# end %>

<%#= render "devise/shared/links" %>
