<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card  my-3">
        <div class="card-body">
          <h2 class="card-title font-weight-bold text-center">Forgot your password?</h2>
          <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
<!--              <%#= f.label :email %><br />-->
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="actions">
              <%= f.submit "Send me reset password instructions",class:"btn btn-secondary btn-block text-uppercase" %>
            </div>
            <hr class="my-4">
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>








<!--<h2>Forgot your password?</h2>-->

<%#= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>

<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="actions">-->
    <%#= f.submit "Send me reset password instructions" %>
<!--  </div>-->
<%# end %>

<%#= render "devise/shared/links" %>
