<%= form_for [@topic, @post,rating] do |form| %>
  <% 1.upto(5) do |i| %>
    <%= form.radio_button :rate, i %>
    <%= i %>
  <% end %>
  <%= form.submit class: 'btn btn-success btn-sm ' %>
<% end %>


