<%= link_to 'New Ratings', new_topic_post_rating_path(@topic,@post), class: "btn btn-success btn-sm new-post-btn" %>
<% @ratings.each do |rating| %>
  <div class="wel wel-lg edit-delete-btb">
    <div class="post-name">
      <%= rating.rate %>
    </div>
    </div>
<%end %>