<%= form_with(model: tag, local: true) do |form| %>
  <%# if tag.errors.any? %>
<!--    <div id="error_explanation">-->
<!--      <h2><%#= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>-->

<!--      <ul>-->
        <%# tag.errors.full_messages.each do |message| %>
<!--          <li><%#= message %></li>-->
        <%# end %>
<!--      </ul>-->
<!--    </div>-->
  <%# end %>

  <div class="field">
    <%= form.label :tagname %>
    <%= form.text_field :tagname %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
