<div class="row">
<table class="table table-bordered table-dark col-4">
  <thead>
    <tr>
      <th>List of Tags</th>
      <th colspan="2">Edit/Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%=link_to tag.tagname, tag, class: "btn btn-primary" %></td>
        <td colspan="2"><%= link_to 'Edit', edit_tag_path(tag), class: "btn btn-secondary" %>
        <%= link_to 'Destroy', tag, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col-8 float-right">
  <%= link_to 'Back', :back, class: "btn float-right btn-dark btn-sm btn-space" %>
</div>
</div>