<div class="row">
  <div class="col-11">
    <h1>Listing the posts related to<span class="text-info text-uppercase badge">#<%=@tag.tagname %></span> </h1>
  </div>
<div class="col-1">
  <%=link_to "Back", :back ,class:"btn btn-dark btn-sm" %>
</div>
</div>

<div class="index-tag">
  <%@tag_post.each do |tag_posts| %>
    <%= link_to topic_post_path(tag_posts.topic_id, tag_posts), class:"show-topic" do %>
      <div class="card-deck mb-3">
        <div class="card topic_card">
          <div class="card-body">
            <% if current_user.post_reads.include?(tag_posts) %>
              <p class="font-weight-bold text-danger text-right">Read </p>
            <% else %>
              <p class="font-weight-bold text-success text-right">UnRead</p>
            <% end %>
            <h3  class="card-title font-weight-bold "><%= tag_posts.name %></h3>
              <% if  tag_posts.topic.present? %><h4><%= "(#{tag_posts.topic.name})" %></h4><% end %>
            <%if tag_posts.user.present? %>
              <p class="card-text"><small class="text-muted">Created By:<%= tag_posts.user.email %></small></p>
            <%end%>
            <%if  can? :manage, tag_posts %>
              <% if can? :update, tag_posts %>  <%= link_to 'Edit', edit_topic_post_path(tag_posts.topic_id, tag_posts), method: :get, class: "btn btn-secondary  btn-sm btn-space" %><% end %>
              <% if can? :destroy, tag_posts %><%=link_to 'Delete', topic_post_path(tag_posts.topic_id, tag_posts), method: :delete, data: {confrim: 'Are you Sure?'}, class: "btn btn-danger btn-sm btn-space" %><%end %>
            <%end%>
          </div>
        </div>
      </div>
    <%end %>
  <% end %>
</div>
