<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card  my-3">
        <div class="card-body">
          <h2 class="card-title font-weight-bold text-center">Log in</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <div class="control-label font-weight-bold ">
                <%= f.label :email %>
              </div>
                <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
            </div>

            <div class="form-group">
              <div class="control-label font-weight-bold">
                <%= f.label :password %>
              </div>
              <%= f.password_field :password, class: 'form-control', autocomplete: "current-password" %>

            </div>

            <div class="custom-control custom-checkbox mb-3">
              <% if devise_mapping.rememberable? %>
                <%= f.label :remember_me, class:"custom-control-label ck"%>
                <%= f.check_box :remember_me , class:"custom-control-input "%>
              <% end %>
            </div>
            <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block text-uppercase" %>
            <hr class="my-4">
            <%= render "devise/shared/links" %>
          <%end %>
        </div>
      </div>
    </div>
  </div>
</div>
























<!--<h2 class="font-weight-bold ">Log in</h2>-->

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!--  <div class="form-group">-->
<!--    <div class="control-label col-md-6">-->
    <%#= f.label :email %>
<!--    </div>-->
<!--    <div class="col-md-6">-->
    <%#= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
<!--    </div>-->
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <div class="control-label col-md-6">-->
    <%#= f.label :password %>
<!--    </div>-->
<!--    <div class="col-md-6">-->
    <%#= f.password_field :password, class: 'form-control', autocomplete: "current-password" %>
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <div class="col-md-6">-->
    <%# if devise_mapping.rememberable? %>
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>

    <%# end %>
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <div class="col-md-11">-->
    <%#= f.submit "Log in", class: "btn btn-sm btn-success" %>
<!--  </div>-->
<!--  </div>-->
<%# end %>

<%#= render "devise/shared/links" %>
