<!--<h3 class="text-center font-weight-bold">Filter Post</h3>-->
  <div class="col-md-12">
  <%= form_with url: posts_path(),method: :get,local: :true do |form|%>
      <div class="form-inline align-items-center">
        <div class="form-group">
          <%= form.label :from %>
          <div class="col-3">
            <%= form.date_field :start_date,:value=>params[:start_date],class: "form-control"%>
          </div>
        </div>
        <div class="form-group">
          <%= form.label :to %>
          <div class="col-3  ">
            <%= form.date_field :end_date,:value=>params[:end_date],class: "form-control"%>
          </div>
        </div>
        <div class="form-group">
          <div class="align-content-center">
        <%= hidden_field_tag "topic_id",params[:topic_id] if params[:topic_id].present?  %>
        <%= form.submit "search", class: "btn btn-sm btn-primary" %>
          </div>
        </div>
      </div>

    <% end %>
  </div>

<!--</div>-->
