<div class="modal-header">
  <h4 class="modal-title">Post</h4>
  <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<%= bootstrap_form_for [@topic, @post], remote: true, html: {multipart: true} do |form| %>
  <div class="modal-body">
    <!--===========================================form for post=======================================================-->
    <div id="new-post">
      <div class="form-group">
        <div class="col-md-11 ">
          <%= form.text_field :name, class: 'form-control error-name-field', placeholder: "Name" %>
          <span id="postNameBlock" class="text-danger"></span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-11  error-desc-field">
          <%= form.text_area :description, rows: 3, class: 'form-control error-desc-field', placeholder: "Write your post" %>
          <span id="postDescBlock" class="text-danger"></span>
        </div>

      </div>
      <div class="form-group">
        <div class="col-md-11">
          <%= form.file_field :image %>
          <span id="postImgBlock" class="text-danger"></span>
        </div>

      </div>
      <%= form.fields_for :tags, @post.tags.build do |tagg| %>
        <div class="form-group">
          <div class="col-md-11">
            <%= tagg.text_field :tagname, class: 'form-control errorTagfield', placeholder: "Tag Name" %>
            <span id="postTagBlock" class="text-danger"></span>
          </div>
        </div>
      <% end %>
      <div class="col-md-11">
        <%= form.collection_select :tag_ids, Tag.all.order('tagname'), :id, :tagname, {}, {multiple: true} %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= form.submit class: 'btn btn-success' %>
    <button type="button" class="btn btn-danger " data-dismiss="modal">Close</button>

  </div>
<% end %>