<% @posts.each do |post| %>
  <%= link_to topic_post_path(post.topic_id, post), class:"show-topic" do %>
  <div class="card-deck mb-3 ">
    <div class="card topic_card">
      <div class="card-body">
        <% if current_user.post_reads.include?(post) %>
          <p class="font-weight-bold text-danger text-right">Read </p>
        <% else %>
          <p class="font-weight-bold text-success text-right">UnRead</p>
        <% end %>
        <h3 class="card-title font-weight-bold text-uppercase"><%= post.name %></h3>
          <% if @topic.present? %>
          <h4><%= "(#{@topic.name})" %></h4>
          <% end %>
        <%if post.user.present? %>
          <p class="card-text"><small class="text-muted">Created By:<%= post.user.email %></small></p>
        <%end%>
      <%if  can? :manage, post %>
<!--      <div class="card-footer" id="edit-post-block">-->
          <% if can? :update, post %><%= link_to 'Edit', edit_topic_post_path(post.topic_id, post), method: :get, remote: true, data: {disable_with: "<i class='fa fa-spinner fa-pulse'></i>Edit Post... "}, class: "btn btn-secondary  btn-sm btn-space" %>
          <% end %>
          <% if can? :destroy, post %><%= link_to 'Delete', topic_post_path(post.topic_id, post), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger btn-sm btn-space", id: "delete_button" %>
          <% end %>
<!--      </div>-->
        <%end %>
      </div>
    </div>
  </div>
<% end %>
<%end %>