<%if @post.errors.any? %>
$(".error").remove();
$("#postNameBlock").append('<div class="error"><%= escape_javascript(@post.errors['name'][0])%></div>');
$("#postDescBlock").append('<div class="error"><%= escape_javascript(@post.errors['description'][0])%></div>');
$("#postImgBlock").append('<div class="error"><%= escape_javascript(@post.errors['image'][1])%></div>');
$("#postTagBlock").append ('<div class="error"><%= escape_javascript(@post.errors.messages[:'tags.tagname'][0])%></div>');
<%if @post.errors['name'][0].nil?%>
$(".error-name-field").removeClass("is-invalid");
<%else %>
$(".error-name-field").addClass("is-invalid");
<%end %>
<% if @post.errors['description'][0].nil?%>
$(".error-desc-field").removeClass("is-invalid");
<% else %>
$(".error-desc-field").addClass("is-invalid");
<%end %>
<% if @post.errors.messages[:'tags.tagname'][0].nil?%>
$(".errorTagfield").removeClass("is-invalid");
<% else %>
$(".errorTagfield").addClass("is-invalid");
<%end %>
<%else %>
$("#post-modal").modal('hide');
$('#index-post').html( "<%=j render @post %>");
alert("Post is created successfully");
<%end %>