//$('#edit-post-block a').hide().parent();
//$('#post-new a').hide().parent().append("<%#= j render 'form' %>");
$("#post-modal").find(".modal-content").html("<%= j (render 'posts/form') %>");
$("#post-modal").modal('show');
