 <div class="row">
   <div class="col-4"><h2 class="font-weight-bold text-uppercase">Listing all Posts <span class="badge badge-secondary"><%= "#{@posts.length}" %></span></h2></div>
   <div class="col-6">
     <%= render partial: 'date' %>
   </div>
   <div class="col-2">
  <% if @topic.present? %>
       <%= link_to "New Post", new_topic_post_path(@topic), remote: true, 'data-toggle' => "modal", 'data-target' => '#post-modal', class: "btn btn-success btn-sm new-post-btn ",id: "post-new", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>New Post... "} %>
       <%= link_to 'Back', topics_path, class: "btn btn-dark btn-sm btn-space" %>
  <% end %>

</div>

 </div><br>

<!---=================================Post modal=====================================================================-->
<div class="modal fade bd-example-modal-sm" id="post-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<!--================================================================================================================-->
<div id="index-post">
  <%= render partial: 'post' %> <!-- render the post from _post.html.erb-->
</div>

<!--  for default use- WillPaginate::ActionView::BootstrapLinkRenderer-->
<!-- for displaying in right side use  list_classes: %w(pagination justify-content-end) -->
<% if @posts.present? %>
  <%= will_paginate @posts, list_classes: %w(pagination justify-content-center), previous_label: "Previous", next_label: "Next", inner_window: 0, outer_window: 1 %>
<% end %>
<!---------------------------------------------------------------------------------------------------------------------->

