<!--<div class="container-fluid">-->
  <div class="row">
    <div class=" col-md-11 bg-light">
      <div class="media">
        <span class="align-self-center mr-3"><%= image_tag(@post.image.url(:large))%></span>
        <div class="media-body">
          <h3 class="mt-0 font-weight-bold"><%= @post.name %></h3>
          <p> <%= @post.description %></p>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <%= link_to 'Back', topic_posts_path(@topic), class: "btn float-right btn-dark btn-sm btn-space" %>

    </div>
  </div>
<!--</div>-->
<br>

<hr>
<!---------------------------------------- Rating to display ---------------------------------------------------------->
<!--<div class="container px-lg-5">-->
  <div class="row">
<!--    " mx-lg-n5">-->
    <div class="col-6  py-3 px-lg-5 border bg-light">
      <h2 class=" font-weight-bold">Rate for the Post</h2>
      <% if @post.user != current_user %>
        <%= render "ratings/form", rating: Rating.new  %>
        <%else %>
      <p>Sorry U cant rate the Post</p>
      <% end %>
    </div>
    <div class="col-3 py-3 px-lg-5 border bg-light">
      <header>
        <h2 class=" font-weight-bold">Ratings</h2>
      </header>
<!--=============================================== using group--====================================================-->
      <div class="post-body">
        <%#  @result.each do |key, value| %>
<!--          <%#= key %> Star = <%#= value %><br>-->
        <%# end %>
<!--        <hr>`-->
<!--=================================== using group_by===============================================================-->
        <%  @result1.each do |key, value| %>
          <%if key !=nil %>
          <%= key %> Star = <%= value %><br>
        <% end %>
        <% end %>
      </div>
    </div>
    <!--==========================avg rate=================================================================-->
    <div class="col-3 py-3 px-lg-5 border bg-light">
      <h2 class=" font-weight-bold">Average Ratings:</h2>
      <% if @rate_avg.present? %>
        <%= @rate_avg.round(2) %>
      <%else %>
        <p>Rate the post</p>
      <%end %>
    </div>
  </div>
<!--=============================================comment session ========---------------------------------------------->
<!--<div class="container">-->
<!--  " px-lg-5">-->
  <div class="row">
<!--    " mx-lg-n5">-->
    <div class="col-6 py-3 px-lg-5 border bg-light">
<!--     py-3 px-lg-5 border bg-light">-->
      <div class="add-comment">
        <header>
          <h3 class=" font-weight-bold">Add Comment</h3>
        </header>
        <%= render "comments/form", comment: Comment.new %>
      </div>
    </div>
    <!--==============================Comments to display===============================================================-->
    <div class="col-6 py-3 px-lg-5 border bg-light">
<!--      " py-3 px-lg-5 border bg-light">-->
      <header>
        <h2 class="font-weight-bold">Comments <span class="badge badge-secondary"><%= "#{@post.comments_count }" %></span></h2>
      </header>

      <% if @post.comments.any? %>

        <% @comments.each do |comment| %>
          <hr>
          <div class="text-md font-weight-bold">
            <%= comment.name %>
          </div>
          <div class="comment-body">
            <%= comment.body %>
          </div>
          <div>
            <!--============================user comment ratings=================================================================-->

          <%= form_with url: user_comment_rate_topic_post_comment_path(@topic, @post, comment.id) do |form| %>
              <%= form.fields_for :user_comment_rating do |rat| %>
                <% if comment.user != current_user %>
                <% 1.upto(5) do |i| %>
                  <%= rat.radio_button :rate, i %>
                  <%= i %>
                <% end %>
                <%= form.button "Rate" ,data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Adding comments rate... "},class: 'btn btn-success btn-sm' %>
                <% end %>
              <% end %>

              <%= link_to 'details',comment_rate_show_topic_post_comment_path(@topic, @post, comment.id),class:"btn btn-info btn-sm" %>
            <% if can? :destroy, @post %><%= link_to 'delete',topic_post_comment_path(@topic, @post,comment), method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger btn-sm"%><%end %>
            <%end%>
          </div>

          <!--=================================================================================================================-->
        <% end %>
      <% else %>
        <p>There are no comments to show.</p>
      <% end %>

    </div>
  </div>
<!--</div>-->
<hr>

<!-- tags to display--------------------------------------------------------------------------------------------------->
<div class="col py-3 px-lg-5 border bg-light">
  <header>
    <h2 class=" font-weight-bold">All tags</h2>
  </header>
  <% if @post.tags.present? %>
    <% @post.tags.each do |tag| %>
      <%= link_to tag.tagname ,tag_path(tag), class:"btn btn-sm btn-outline-dark" %>
    <% end %>

  <% end %>
</div>
<hr>


<!---------------------------------------Ajax call for Read Status----------------------------------------------------->
<% unless @post.users.include?(current_user)%>
<%#= hidden_field_tag :topic_id, params[:topic_id] %>
<%#= hidden_field_tag :post_id, params[:id] %>
<script>

    $(document).ready(function () {
        $.ajax({
            method: "GET",
            url: '/topics/' + <%=params[:topic_id] %> + '/posts/' + <%=params[:id] %> + '/post_user_status'
        });
    });
</script>
<%end %>