<%if @post.errors.any? %>
$(".alert-danger").remove();
$("#postNameBlock").append('<div class="alert-danger"><%= escape_javascript(@post.errors['name'][0])%></div>');
$("#postDescBlock").append('<div class="alert-danger"><%= escape_javascript(@post.errors['description'][0])%></div>');
$("#postImgBlock").append('<div class="alert-danger"><%= escape_javascript(@post.errors['image'][0])%></div>');
$("#postTagBlock").append('<div class="alert-danger"><%= escape_javascript(@post.errors['tagname'][0])%></div>');
<%if@post.errors['name'][0] %>
$(".error-name-field").removeClass("is-invalid");
$(".error-name-field").addClass("is-valid")
<%else %>
$(".error-name-field").removeClass("is-valid");
$(".error-name-field").addClass("is-invalid")
<%end %>
<% if @post.errors['description'][0] %>
$(".error-desc-field").removeClass("is-invalid");
$(".error-desc-field").addClass("is-valid")
<% else %>
$(".error-desc-field").removeClass("is-valid");
$(".error-desc-field").addClass("is-invalid")
<%end %>
<%else %>
$('#edit-post-block a').show();
$('#post-new form').remove();
$('#post-new a').show();
$('#index-post').html("<%=j render @post %>");
<%end %>