body {
  padding-top: 45px;
  background: #ffff;
  color: #791e9e;
}

#index-topic, #index-post, .index-tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}
.card-deck{
  margin: 5px;
}
.nav-item{
  margin: 5px;
}
.post-body{
  font-size: large;
}
.comment-body{
font-size: large;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}
//#edit-topic-block a, #edit-post-block a{
//  margin: 1px;
//}

.topic_card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2); /* this adds the "card" effect */
  //padding: 16px;
  //text-align: center;
  //background-color: #ffff;
}
#index-post .card-body, .index-tag .card-body{
  height: 238px;
  width: 254px;
}
#index-topic .card-body{
  height: 180px;
  width: 244px;
  text-align: center;
}
btn-group-sm>.btn, .btn-sm {
  margin: 5px 0;
}
.show-topic {
  color: #791e9e;
}
.show-topic:hover{
  color: #97429e;
  background-color:#ffff;
  text-decoration: none;
}
.custom-control-label::before{
  top: 0.20rem!important;
}
.p-name{
  font-size: 28px;
}

div.field_with_errors label{
  background: white;
}