<!DOCTYPE html>
<html>
<head>
  <title>ProjectStarts</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<!--  <script src="https://kit.fontawesome.com/300f849ea2.js"></script>-->

</head>

<body>
<div class="container-fluid">
  <nav class="nav-bar navbar fixed-top navbar-expand flex-column flex-md-row  bg-light ">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <% if user_signed_in? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to "Topics", topics_path, class: "btn btn-space btn-small btn-outline-primary" %></li>
          <li class="nav-item"><%= link_to "Posts", posts_path,class: "btn btn-space btn-small btn-outline-secondary" %></li>
          <li class="nav-item"><%= link_to "Tags", tags_path, class: "btn btn-space btn-small btn-outline-dark" %></li>
          </ul>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class = "navbar-nav ml-auto">
          <li class="nav-item"><%= link_to current_user.email, edit_user_registration_path, class: "btn btn-space btn-small btn-outline-info" %></li>
          <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-space btn-small btn-outline-danger " %></li>
          </ul>
        </div>
        <% else %>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
          <li class="nav-item"><%= link_to "Signup", new_user_registration_path, class: "btn btn-space btn-small btn-outline-success " %></li>
          <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "btn btn-space btn-small btn-outline-info " %></li>
        <% end %>
      </ul>
      </div>
    </div>
  </nav>
  <% if notice %>
    <p class="alert alert-success positive"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger negative"><%= alert %></p>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <%= yield %>
    </div>
  </div>
</div>
</body>
<script>
    $(".alert").fadeOut(2000)
</script>
<script language="JavaScript">
    javascript:window.history.forward(1);
</script>
</html>
